/*
Polar Bear from Adobe Color CC
Medium Blue #608BB2
Medium Light Blue #9DD0FF
Light Blue #D9EPFF
Light Brown #FFFAF2
Medium Brown #B2A691
*/

body{
	color: #608BB2;
	background-color: none;
	font-family: 'Open Sans';
}

h1{
	color: #608BB2;
	font-size: 32px;
}

ul{
	text-decoration: none;
}

#logo{
	color: #B2A691;
}

#footer {
	background: black;
	color:#aaaaaa;
	padding-top: 3em;
	padding-bottom: 3em;
}

#accueil{
	padding-top: 100px;
}

.wrapper {
	background-image: url('../images/pexels-photo-257937.jpeg');
	background-size: cover;
	height:650px;
	padding-top:50px;
	color:white;
}

.vertical-spacer {
	height: 8em;
}