/*
Polar Bear from Adobe Color CC
Medium Blue #608BB2
Medium Light Blue #9DD0FF
Light Blue #D9EPFF
Light Brown #FFFAF2
Medium Brown #B2A691
*/

html{
	height:100%;
	width:100%; 
}

body{
	height:100%;
	width: 100%;
	/*position: relative;*/
	color: #608BB2;
	font-family: 'Open Sans';
}

h1{
	color: #608BB2;
	font-size: 28px;
}

ul{
	text-decoration: none;
}

#logo{
	color: #B2A691;
}


#accueil{
	padding-top: 50px;
	text-align: justify;
}

/*
#header{
  position: relative;
}

*/

#wrapper{
  height:100%;
 
}

#main {
    height: 100%;
	position: relative;
	padding-bottom: 50px;
	text-align: center;
	background-image: url('../images/pexels-photo-257937.jpeg');
	background-size: cover;
	color:white;
}

#footer {
	height: 50px;
    position: absolute;
	bottom: 0;
	background: black;
	color:#aaaaaa;
}

#map {
	margin-left:50px;
}

.vertical-spacer {
	height: 8em;
}

.container {
	width:100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;

}