/*
Polar Bear from Adobe Color CC
Medium Blue #608BB2
Medium Light Blue #9DD0FF
Light Blue #D9EPFF
Light Brown #FFFAF2
Medium Brown #B2A691
*/

html {
	height:100%;
    width:100%; 
}

body {
	height:100%;
	width: 100%;
	/*position: relative;*/
	color: #608BB2;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: black;
	font-size: 100px;
	font-style: bold;
	font-family: 'Raleway Dots', cursive;
	text-align:center;
}

h2 {	
	color: #666666;
	font-style: bold;
	font-size: 34px;
	font-family: 'Nixie One';
}

/*
#main:hover {
	opacity: 0.7;
}
*/

.actes {
	font-size: 40px;
	color: white;
	font-family: 'Raleway Dots', cursive;
}

#accueil {
	text-align: left;
}

ul{
	text-decoration: none;
}

#logo{
	color: #B2A691;
}

/*
#header{
  position: relative;
}

*/

#wrapper{
  height:100%;
  width:100%;
 
}

#main {
    height: 100%;
    width:100%;
	padding-bottom: 50px;
	text-align: center;
	/*background-image: url('../images/nature-garden-grass-lawn.jpg');*/
	background-size: cover;
	background-image: url('../images/aloe-acne.jpg');
	/*background-image: url('../images/dandelion-seeds-number-of-lion-screen-pilot-159056.jpeg');
	background-color: #DDDDDD;*/
}

#contact {
    height: 100%;
    width:100%;
	/*position: relative;*/
	padding-bottom: 50px;
	text-align: center;
	/*background-image: url('../images/pexels-photo-208556.jpeg');*/
	/*background-image: url('../images/model-face-beautiful-black-and-white-407035.jpeg');*/
	background-image: url('../images/pexels-photo-316466.jpeg');
	background-size: cover;
}

#footer {
	height: 50px;
    position: absolute;
	bottom: 0;
	background: none;
	color:#aaaaaa;
}


#map {
	width: 100%;
	margin: none
}


.btn#rdv {
	text-align: center;
	margin-right:20px;
}

.vertical-spacer {
	width:100%;
	height: 10em;
}

.container {
	width:100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.copyright {
	padding-top:10px;
}

/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  /*line-height: 50px;*/
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
